html, body{
    margin: 0;
    height: 100vh;
    width: 100vw;

    font-family: Georgia, 'Times New Roman', Times, serif;

    display: grid;
    grid-template-columns: 1fr minmax(550px, 3fr) 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
    overflow-x: hidden;

    background-image: url('/images/forest.jpg');
    background-size: cover,
    }
body > *{
    flex-shrink: 0;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;


    background-color: #73420a;
    grid-column-start: 2;
    grid-column-end: 3;

    color: white;
}


#header-content{

    padding: 10px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    height: 100px;
    width: 85%;

    z-index: 110;
    margin: 15px;

    font-size: 30px;
}

#header-content > svg{
    height: 100%;
    width: auto;
}

#navigation-content{
    background: #824203;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(606467 / 15%) 0px 1px 3px 1px;
    z-index: 105;
    width: 85%;

    margin: 10px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#navigation-content > ul > li {
    display: inline-block;
    margin-right: 20px;
}

#navigation-content > ul > li:hover{
    cursor: pointer;
}

#main-content{
    width: 85%;
    background-color: black;
    flex-grow: 1;
}

#main-content > #home-page{
    height: 100%;
    width: 100%;
    background-color: #824203;


    display: grid;

    grid-template-columns: 3fr 2fr 3fr;
    grid-template-rows: 1fr;

}

#main-content > #home-page > #columnOne{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;

    padding: 10px;

    background-color: #824203;


    box-shadow: rgb(50 50 93 /25%) 0px 50px 100px -20px,
    rgb(0 0 0 /30%) 0px 30px 60px -30px,
    rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    margin: 10px;
}

#main-content > #home-page > #columnTwo{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;

    padding: 10px;


    box-shadow: rgb(50 50 93 /25%) 0px 50px 100px -20px,
    rgb(0 0 0 /30%) 0px 30px 60px -30px,
    rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    background-color: #824203;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    margin: 10px;
}

#main-content > #home-page > #svg-column{
    grid-column-start: 2;
    grid-column-end: 3;

    background-color: green;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main-content > #home-page > #svg-column > svg{
    height: auto;
    width: 50%;
}